@model Spell_Editor.Models.ImbuedItemSpell

<div id="spellRow">
    <div class="form-group">
        <label class="control-label col-md-12" style="display: inline-block; text-align: center;">@Model.Spell_Table.Spell_Name</label>
    </div>
</div>
