@model Spell_Editor.Models.Merit

@{
    ViewBag.Title = "Merit Details";
}

<h2>Merit Details</h2>

    <h4>@Model.Name</h4>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <p style="text-align: left;">
                    <label style="text-align: left;">Category: @Model.Category</label>
                </p>
            </dt>
            <dd style="margin: 0 0;">
                <textarea id="Description" name="Description" rows="15" class="form-control" readonly="readonly" cols="110">@Model.Description</textarea>
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MeritId }) |
        <a href="javascript:void(0);" onclick="history.go(-1);">Back to List</a>
    </p>

    @section Scripts {
        <script type="text/javascript">
        $("#Description").height($("#Description")[0].scrollHeight);
        </script>
    }
