@model Spell_Editor.Models.ArtifactAttainment

<div id="attainmentRow">
    <div class="form-group">
        <label class="control-label col-md-12" style="display: inline-block; text-align: center;">@Model.Attainment_Table.attainment_name</label>
    </div>
</div>
