@model Spell_Editor.Models.Vampire_Disciplines

@{
    ViewBag.Title = "Discipline Details";
}

<h2>@Model.Discipline</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd style="margin: 0 0;">
            <textarea id="Description" name="Description" rows="12" class="form-control" readonly="readonly" cols="80">@Model.Description</textarea>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to List</a>
</p>

@section Scripts {
    <script type="text/javascript">
        $("#Description").height($("#Description")[0].scrollHeight);
    </script>
}
